.image-container {
    position: relative;
  }
  
  .bounding-box-canvas {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .label-dropdown {
    position: absolute;
    font-size: 12px;
    fontWeight: normal;
    borderRadius: 3px;
    backgroundColor: #f26161;
    color: #000;
    cursor: pointer;
    boxShadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    zIndex: 10;
    font-smooth: auto; /* or 'antialiased' */
  }
  
  .label-dropdown option {
    borderRadius: 3px;
    background-color: #fff;
  
  }
  
  /* Optional: Add styles for selected box highlight */
  .bounding-box-canvas.selected {
   outline: 2px solid #f26161;
  }